.loader {
    position: absolute;
    top:50%;
    left:50%;
  }

  .loader-animation {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #343638;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }


  .loader-text{
    padding: 20px 0;
    font-size: larger;
  }

  
 @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 