.table-header, .table-cell {
  padding: 10px;
}

.toolbar {
  padding: 20px;
}

.table-header {
  width:100vw;
  cursor: pointer; 
  position: sticky;
  top: 0;
  background-color: white;
  border-color: black;
  border-style: double;
}

.table-header-row {
    position: sticky;
    top: 60px;
    z-index: 100;
    background-color: white;
}

.table-container {
  height: 100vh;
  overflow-y: scroll;
  border-color: black;

}

.table-cell{
  text-align: center;
}

.arrow-down{
  transform:rotate(180deg)
}

.toolbar{
  padding: 20px;
  width: 100wv;
  background-color: white;
  position: sticky;
  top: 0;
}

.sticky-header {
  height: 60px;
  text-decoration: underline;
  display:flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; 
  padding: 10px;
  border-bottom: 1px solid #ccc; 
}

.languages {
  padding: 10px;
}