.language-switcher {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
  
  .language-switcher-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
  }
  
  .language-switcher-link {
    padding: 0 0.5rem;
    transition: 0.3s background-color;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
  }
  
  .language-switcher-link:hover,
  .language-switcher-link.language-switcher-link--active {
    background-color: red; 
  }
  
  .language-switcher-link:after {
    content: "|";
    display: block;
    position: absolute;
    right: -2px;
    top: -1px;
  }
  
  .language-switcher-button-wrapper:last-child .language-switcher-link:after {
    content: "";
  }
  